<!-- Single simplified template for all timeline items -->
<template id="timeline-item-template">
    <div class="timeline-item" data-item-type="">
        <div class="timeline-marker">
            <i class="fas fa-circle"></i>
        </div>
        <div class="timeline-content">
            <div class="timeline-header">
                <div class="timeline-date"></div>
                <div class="row-id"></div>
            </div>
            <div class="timeline-description"></div>
            <div class="data-table-container">
                <table class="table table-sm table-bordered">
                    <tbody>
                        <tr class="data-row">
                            <!-- Table cells will be populated dynamically -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
